<!DOCTYPE html>
<html>
<head>
<title>Descuentos - Administración</title>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link th:replace="layout/header :: estilos">
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="layout/header :: cabecera"></div>
	<!--  <div th:replace="layout/sidebar :: lateral"></div>-->
	<div class="pb-5"  id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Gestión de descuentos</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/login/inicio}">Inicio</a></li>
                            <li class="breadcrumb-item active">Descuentos</li>
                        </ol>
                        <div th:if="${altaDescuento!=null and !altaDescuento.equals('')}" class="alert alert-success alert-dismissible fade show" role="alert">	
						 	<span th:text="${altaDescuento}"></span>
						 	 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						<div th:if="${editarDescuento!=null and !editarDescuento.equals('')}" class="alert alert-success alert-dismissible fade show" role="alert">	
						 	<span th:text="${editarDescuento}"></span>
						 	 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <a class="btn btn-primary" th:href="@{/descuentos/alta}">Nuevo descuento</a>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                
                                Descuentos
                            </div>
                            <div class="card-body overflow-auto">
                            	<div class="list-group">
                            		<div class="list-group-item" th:each="descuento : ${descuentos}">
                            			<form th:action="@{/descuentos/editar}" th:object="${descuentoEnCurso}" method="post">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-sm">
                            						<label>Código</label>
                            						<input class="form-control" type="text" name="codigo" th:value="${descuento.codigo}">
                            					</div>
                            					<div class="col-sm">
                            						<label>Descuento</label>
                            						<input class="form-control" type="number" step="any" name="descuento" th:value="${descuento.descuento}">
                            					</div>
                            					<div class="col-sm">
                            						<label>Fecha de inicio</label>
                            						<input class="form-control" type="date" name="inicio" th:value="${descuento.fechaInicio}">
                            					</div>
                            					<div class="col-sm">
                            						<label>Fecha de fin</label>
                            						<input class="form-control" type="date" name="fin" th:value="${descuento.fechaFin}">
                            					</div>
                            				</div>
                            				<input type="hidden" name="id" th:value="${descuento.id}">
                            					<button type="submit" class="btn btn-secondary my-2">Editar</button>
                            			</div>
                            			</form>
                            		</div>
                            	</div>
                            </div>
                        </div>
                    </div>
                </main>
               <div th:replace="layout/footer :: pie"></div>
        </div>
	
	<script th:src="@{js/scripts.js}" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</body>
</html>