<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/styles.css}" rel="stylesheet"  th:fragment="estilos" />

</head>
<body>
	<header th:fragment="cabeceraLogin" class="sb-topnav navbar navbar-expand navbar-dark bg-dark text-light">
		<h1>Administración Tienda Óscar Llamas Parra</h1>
	</header>
	
	<nav th:fragment="cabeceraSide" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
	   <!-- Navbar Brand-->
	   <a th:href="@{/login/inicio}" class="navbar-brand ps-3">Administración Tienda</a>
	   <!-- Sidebar Toggle-->
	   <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>     
	   <!-- Navbar-->
	    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
	        <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
	            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
	                <li><a class="dropdown-item" th:href="@{/login/perfil}">Ver perfil</a></li>
	                <li><hr class="dropdown-divider" /></li>
	                <li><a class="dropdown-item" th:href="@{/login/logout}">Cerrar sesión</a></li>
	            </ul>
	        </li>
	    </ul>
	</nav>
	
	<nav th:fragment="cabecera" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
	   <!-- Navbar Brand-->
	   <a th:href="@{/login/inicio}" class="navbar-brand ps-3">Administración Tienda</a>
	   
	   <!-- Navbar-->
	    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
	        <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
	            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
	                <li><a class="dropdown-item" th:href="@{/login/perfil}">Ver perfil</a></li>
	                <li><hr class="dropdown-divider" /></li>
	                <li><a class="dropdown-item" th:href="@{/login/logout}">Cerrar sesión</a></li>
	            </ul>
	        </li>
	    </ul>
	</nav>
	
</body>
</html>