<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	
            <div id="layoutSidenav_nav" th:fragment="lateral">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" th:href="@{/login/inicio}">
                                <div class="sb-nav-link-icon"><i class="bi bi-house-door-fill"></i></div>
                                Inicio
                            </a>
                            <div class="sb-sidenav-menu-heading">Gestión</div>
                            <a class="nav-link" th:href="@{/productos}">
                                <div class="sb-nav-link-icon"><i class="bi bi-box"></i></div>
                                Productos
                            </a>
                            <a class="nav-link" th:href="@{/pedidos}">
                                <div class="sb-nav-link-icon"><i class="bi bi-box-arrow-right"></i></div>
                                Pedidos
                            </a>
                            <a class="nav-link" th:href="@{/proveedores}">
                                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                                Proveedores
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-fill"></i></div>
                                Usuarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/login/clientes}">Clientes</a>
                                    <a th:if="${session.usuarioAdministracion.rol.rol.equals('Administrador')}" class="nav-link" th:href="@{/login/empleados}">Empleados</a>
                                    <a th:if="${session.usuarioAdministracion.nombre.equals('Admin')}" class="nav-link" th:href="@{/login/administradores}">Administradores</a>
                                </nav>
                            </div>
                            <a th:if="${session.usuarioAdministracion.rol.rol.equals('Administrador')}"  class="nav-link" th:href="@{/descuentos}">
                                <div class="sb-nav-link-icon"><i class="bi bi-tags-fill"></i></div>
                                Descuentos
                            </a>
                            <a th:if="${session.usuarioAdministracion.nombre.equals('Admin')}"  class="nav-link" th:href="@{/valoraciones}">
                                <div class="sb-nav-link-icon"><i class="bi bi-file-earmark-bar-graph-fill"></i></div>
                                Valoraciones
                            </a>
                            <div th:if="${session.usuarioAdministracion.nombre.equals('Admin')}" class="sb-sidenav-menu-heading">Otros</div>
                            <a th:if="${session.usuarioAdministracion.nombre.equals('Admin')}" class="nav-link" th:href="@{/config}">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuración
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Sesión iniciada como:</div>
                        <span th:text="${session.usuarioAdministracion.nombre}"></span>
                    </div>
                </nav>
            </div>
	
</body>
</html>